<!DOCTYPE html>
<html>
  <head>
    <title>SENTI</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <script src='../../app/assets/<javascripts></javascripts>/chart.js'> </script>   -->
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">

  </head>

<body class="<%= controller_name %> <%= action_name %>">

    <nav class="ui menu">
        <ul>
          <li class="ui black button">
            <%= link_to 'SENTI', homepage_path %>
          </li>
          <li class="ui button">
            <% unless @current_user.present? %>
                <%= link_to 'Login', login_path %>
          </li>
          <li class="ui button">
             <%= link_to 'Signup', new_user_path %>
              <% else %>
            </li>
          <li class="ui button">
            <a <%= link_to @current_user.name, user_path(@current_user)%> ></a>
          </li>
          <li>
              <%= link_to 'Logout', login_path, method: :delete%>
              <% end %>
          </li>
          <li class="ui button" id='tweetmain'>
              <%= link_to "Search Tweets", tweets_path %>
          </li>
        </ul>
    </nav>
    <h1>SENTI</h1>


    <%= yield %>
  </body>
</html>
